<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustanix</title>
    <link rel="stylesheet" href="assets/css/var.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
        <div class="header" id="masthead">
            <div class="top-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-sm-9 hd_col1">
                            <div class="logo-header">
                                <div class="img-nav">
                                    <img src="images/logo.png" alt="No Image found">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-3 hd_col2">
                            <div class="menu-header">
                                <div class="inner-menu collapse" id="menu_header">
                                    <ul>
                                        <li><a href="home.html">Home & Personal Care Technology</a></li>
                                        <li><a href="bio-packaging.html">Bio Packaging Technology</a></li>
                                        <li><a href="investores-and-partners.html">Investors & Partners</a></li>
                                        <li><a href="">News & Announcements</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="lets-connect.html">Connect</a></li>
                                        <li><a href="#!">Click Here</a></li>
                                    </ul>
                                </div>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu_header" aria-controls="menu_header" aria-expanded="false" aria-label="Toggle navigation" id="btn_menu">
                                            <span class="navbar-toggler-icon"><span class="_btn_aftr"></span></span>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="content" id="content">
            <div class="all-content">
                <section class="connect-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-sm-12 col-connect-1">
                                <div class="text-connect-first d-flex align-items-start">
                                    <div class="head-connect">
                                        <h4>Let's<br/>C<span>o</span>nnect</h4>
                                    </div>
                                    <div class="para-connect">
                                        <p>Suspendisse sed fermentum tellus, sit amet 
                                            aliquam justo. Aliquam erat volutpat nulla at a 
                                            sem sit amet lectus dapibus, ac sagittis </p>
                                    </div>
                                </div>
                                <div class="socials-link-connent">
                                    <div class="links-connect">
                                        <ul>
                                            <li><a href="#!">Facebook <i class="far fa-long-arrow-right"></i></a></li>
                                            <li><a href="#!">Instagram <i class="far fa-long-arrow-right"></i></a></li>
                                            <li><a href="#!">Linkdin <i class="far fa-long-arrow-right"></i></a></li>
                                            <li><a href="#!">Twitter <i class="far fa-long-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 col-connect-2">
                                <div class="connet-form">
                                    <div class="form-main">
                                        <div class="form-fields">
                                            <i class="fa-regular fa-user"></i>  <input type="text" name="name" id="name" placeholder="Your Name Here*" required>
                                        </div>
                                        <div class="form-fields">
                                            <i class="fa-solid fa-envelope"></i>  <input type="email" name="email" id="email" placeholder="Your Email Here*" required>
                                        </div>
                                        <div class="form-fields">
                                            <i class="fas fa-phone"></i>  <input type="tel" name="phone" id="phone" placeholder="Your Contact Here*" required>
                                        </div>
                                        <div class="form-fields">
                                            <i class="fa-regular fa-fax"></i>  <input type="text" name="subject" id="subject" placeholder="Your subject Here*" required>
                                        </div>
                                        <div class="form-fields">
                                            <i class="fas fa-comment-alt"></i>  <input type="text" name="query" id="query" placeholder="Your query Here*">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </section>
            </div>
        </div>

        <div class="footer" id="footer">
            <div class="footer-inner">
                <div class="container">
                    <div class="top-footer">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12 ft1">
                                <div class="img-footer-logo">
                                    <img src="images/footer-logo.png" alt="No Image Found">
                                </div>
                                <div class="text-footer">
                                    <p>
                                        Nam tincidunt arcu tortor, eget dapibus massa sagittis
                                        sed duis in efficitur justo proin vehicula massa ac laoreet
                                        auctor fusce volutpat auctor lectus, finibus...
                                    </p>
                                    <p>
                                        Nam tincidunt arcu tortor, eget dapibus massa sagittis
                                        sed duis in efficitur justo proin vehicula massa ac laoreet
                                        auctor fusce volutpat auctor lectus, finibus...
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12 ft2">
                                <div class="heading-footer">
                                    <h4>Quick Links</h4>
                                </div>
                                <div class="menu-footer">
                                    <div class="menu-ftr-inner">
                                        <ul>
                                            <li><a href="#!">Home & personal care technology</a></li>
                                            <li><a href="#!">Bio packaging technology</a></li>
                                            <li><a href="#!">Investors & Partners</a></li>
                                            <li><a href="#!">News & Announcement</a></li>
                                            <li><a href="#!">Team</a></li>
                                            <li><a href="#!">Connect</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12 ft3">
                                <div class="heading-footer">
                                    <h4>Contact Info</h4>
                                </div>
                                <div class="location-main">
                                    <div class="location-inner">
                                        <ul>
                                            <li><a href="#!">+123 46 7748</a></li>
                                            <li><a href="#!">admin123gmail.com</a></li>
                                            <li>Ny 1011 Street 13 Newyork</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12 ft4">
                                <div class="heading-footer">
                                    <h4>Follow Us</h4>
                                </div>
                                <div class="quick-links">
                                    <div class="quik-inner">
                                        <ul>
                                            <li><a href="#!">Facebook</a></li>
                                            <li><a href="#!">Instagram</a></li>
                                            <li><a href="#!">Twitter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scnd-footer">
                         <div class="row">
                             <div class="col-lg-6 col-sm-12 ft5">
                                <div class="newsletter-main">
                                    <h4>Subscribe<br/>to our newsletter</h4>
                                </div>
                                 <div class="text-footer">
                                     <p>Nam tincidunt arcu tortor, eget dapibus massa sagittis
                                         sed duis in efficitur justo proin vehicula massa ac laoreet
                                         auctor fusce volutpat auctor lectus, finibus...
                                     </p>
                                 </div>
                             </div>
                             <div class="col-lg-6 col-sm-12 ft6">
                                <div class="newsletter-form">
                                    <div class="main-form">
                                        <div class="email-inpt">
                                            <input type="email" name="email-newsletter" id="email-news" placeholder="Enter Your Email" required>
                                        </div>
                                        <div class="btn_newsletter">
                                            <input type="button" value="Subscribe Now">
                                        </div>
                                    </div>
                                </div>
                             </div>
                         </div>
                    </div>
                    <div class="third-footer">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-sm-12 ft7">
                                <div class="copyright">
                                    <p class="text-start"> Copyrights 2023. Sustanix Build Not To Last. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 ft7">
                                <div class="developed">
                                    <p class="text-end">Designed & Developed By Tekthrone</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
             jQuery(document).ready(function(){
                jQuery('#btn_menu').click(function(){
                    jQuery('#menu_header').toggleClass('show');
                });
            });


            let windowsize = jQuery(window).width();
            if (windowsize < 1200) {
            
                jQuery(".img-nav").clone().appendTo("#menu_header");

            }
        </script>
    </body>
</html>